<div class="container">
  <h1>Angular Pipes</h1>

  <!-- <p>{{e | number:'1.1-5'}}</p>
  <p>{{e | number:'3.1-2'}}</p>
  <p>{{27.12363235235 | number:'0.1-3'}}</p> -->


  <!-- <p>{{str | uppercase | lowercase | titlecase}}</p>

  <p>{{str | titlecase | slice:1:-2}}</p> -->

  <!-- <p>{{date | date:'dd.MM.YYYY'}}</p> -->

  <!-- <p>{{float}}</p>
  <p>{{float | currency}}</p>
  <p>{{float | percent:'3.1-2'}}</p>

  <pre>{{obj | json}}</pre> -->

  <!-- <p>{{21 | mult:2}}</p>

  <p>{{'Salut' | exMarks}}</p> -->
  <!-- <button class="btn" (click)="addPost()">Add post</button>

  <hr>

  <input type="text" [(ngModel)]="search">

  <div
    class="card"
    *ngFor="let post of posts | filter:search; let i = index"
  >
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div> -->
  <!-- <p>Waiting for ... {{ promise | async }}</p>

  <p>Date: {{ date$ | async | date:'HH:mm:ss' }}</p> -->

  <p>{{ dateObs | date:'HH:mm:ss' }}</p>
</div>